# Flutter dependencies
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Build outputs
/build/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# iOS dependencies
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# Xcode files
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/xcshareddata/
ios/Flutter/Flutter.framework

# IDE specific
.idea/
.vscode/

# macOS specific
.DS_Store
